<table summary="Current Status">
  <% PickupSpot.all.each do |spot| %>
    <tr>
      <td>
        <%= spot.name %> 
      </td>
      <td>
        Waiting Riders count
      </td>
      <td>
        Waiting drivers count
      </td>
    </tr>
  <% end %>
</table>
