<h2>Which pickup location are you waiting at?</h2>

<br />

<%= form_for Rider.new do |f| %>
  <% PickupSpot.all.each do |spot| %>
    <%= f.radio_button :pickup_spot_id, spot.id %>
    <%= f.label "pickup_spot_id_#{spot.id}", spot.name %>
    <br />
  <% end %>
  <%= f.submit "Find a Ride!" %>
<% end %>
    
