<script>
  $(function(){
    $("#new_driver").submit(function(){
      if ($("input:checked", this).length == 0){
        alert('Please select a pickup spot');
        return false
      }
    })
  $("#new_driver input").click(function(){
  this.form.submit()
  })
  })
</script>
<p>Where are you going?</P>
<%= form_for Driver.new do |f| %>
  <% DestinationSpot.find(:all, :conditions => ["name != ?", "San Francisco"]).each do |spot| %>
    <%= f.radio_button :destination_spot_id, spot.id %>
    <%= f.label "destination_spot_id_#{spot.id}", spot.name %>
    </br>
  <% end %>
<% end %>
