<p>It won't be too long before you're cruising along!</p>

<p>Hit refresh to update the stats below and publish that you're still waiting, you will be marked as stale after <%= distance_of_time_in_words Rider::MAX_LAST_SEEN_AT %> of inactivity </p>
<%= render 'shared/spot_stats' %>

<%= render 'navigation' %>